body {
    background-color: #333;
}
.navbar {
    background-color: #888;
}
#searchButton {
    background-color: #ccc;
}
#dropdownButton {
    background-color: #ccc;
}
#loadingWheel {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.spinner-border {
    position: relative;
    top: 50%;
}